@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap');

body {
  font-family: 'Lora', serif;
}


h1 {
  font-weight: 700;
  font-size: 50px;
  position: absolute;
  top: 125px;
  left: 0;
  right: 0;
  width: 450px;
  margin: auto;
  padding-bottom: 10px;
  text-align: center;
  display: inline;
  border-bottom: 1px solid grey;
}

div {
  padding: 10px;
}

.converter-selector {
  display: block;
  font-size: 17.5px;
  position: absolute;
  top: 275px;
  left: 0;
  right: 0;
  width: 500px;
  height: 30px;
  margin: auto;
  text-align: center;
}

#converter-selector-0 {
  font-family: 'Lora', serif;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid grey;
  border-radius: 15px;
  padding: 10px;
  background-color: lightgreen;
}

#converter-selector-1 {
  font-family: 'Lora', serif;
  font-size: 20px;
  border: 1px solid grey;
  border-radius: 15px;
  padding: 10px;
  background-color: lightgreen;
}

.converter {
  position: absolute;
  top: 400px;
  left: 0;
  right: 0;
  width: 600px;
  margin: auto;
  text-align: center;
}

#guide-message {
  font-size: 22.5px;
}

label {
  font-size: 20px;
  margin-right: 100px;
}

input {
  font-family: 'Lora', serif;
  font-size: 20px;
  border: 1px solid grey;
  border-radius: 10px;
  text-align: center;
}

::-webkit-input-placeholder {
  font-family: 'Lora', serif;
}

#reset, #invert {
  font-family: 'Lora', serif;
  font-size: 22.5px;
  border: 1px solid grey;
  border-radius: 10px;
}

#reset {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  width: 150px;
  margin: auto;
  text-align: center;
}

#invert {
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  width: 150px;
  margin: auto;
  text-align: center;
}